body {
  width: 50%;
  max-width: 800px;
  min-width: 480px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

h1 {
  color: #45438e;
  text-align: center;
  font-size: 28px;
}

p {
  font-size: 20px;
}

button,
.guessSubmit {
  padding: 10px 20px;
  outline: none;
  border-radius: 5px;
  border: none;
  color: #fff;
  text-transform: uppercase;
  background: #45438e;
}

.guessField {
  padding: 8px 20px;
  border: 2px solid #45438e;
  border-radius: 5px;
  outline: none;
}

.container {
  background: #fcfcfc;
}

.form {
  font-size: 20px;
}